//////////
// Blog //
//////////

.single {
	.content {
		.wrap {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

.blog {

	// Blog > Title
	&__title {
		margin-bottom: 1.5rem;

		// Blog > Title > Text
		&-text {
			display: inline-block;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			border-bottom: 1px solid #eee;
			.font__oswald();
			font-weight: 400;
			color: inherit;
		}
	}

	// Blog > Link
	&__link {
		display: block;
		text-decoration: none;
		color: #000;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: @colour__link;
		}
	}

	// Blog > Thumbnail
	&__thumbnail {
		.flex-display();
		.flex-direction(column);
		height: 100%;

		// Blog > Thumbnail > Media
		&-media {
			display: block;
			width: 100%;
		}
	}

	// Blog > Excerpt
	&__excerpt {
		.flex(1 1 auto);
		margin-bottom: 2rem;
		line-height: 125%;
		font-family: Georgia, sans-serif;
		font-size: 1.5rem;
	}

	// Blog > Date
	&__date {
		.font__serif();
		font-size: 1.4rem;
		font-weight: 200;
		color: #666;

		// Blog > Date > Wrapper
		&-wrap {
			display: inline-block;
			padding-top: .4rem;
			border-top: 1px solid #eee;
		}

		// Blog > Date > Icon
		.icon-clock {
			margin-right: .4rem;
		}
	}
}