//////////
// Blog //
//////////

.blog__title {
	margin-bottom: 1.5rem;
}

.blog__link {
	display: block;
	text-decoration: none;
	color: #000;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: @colour__link;
	}
}

.blog__thumbnail {
	.flex-display();
	.flex-direction(column);

	height: 100%;
}

.blog__thumbnail-media {
	display: block;
	width: 100%;
}

.blog__title-text {
	display: inline-block;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #eee;
	.font__oswald();
	font-weight: 400;
	color: inherit;
}

.blog__excerpt {
	.flex(1 1 auto);

	margin-bottom: 2rem;
	line-height: 125%;
	font-family: Georgia, sans-serif;
	font-size: 1.5rem;
}

.blog__date {
	.font__serif();
	font-size: 1.4rem;
	font-weight: 200;
	color: #666;

	.icon-clock {
		margin-right: 4px;
	}
}

.blog__date-wrap {
	display: inline-block;
	padding-top: 4px;
	border-top: 1px solid #eee;
}