////////////
// Footer //
////////////

.footer {
	text-align: center;

	.icon--facebook {
		font-size: 2rem;
		text-decoration: none;
		color: @colour__link;

		.transition(color ease .12s);

		// Hover
		&:hover {
			color: #000;
		}
	}
}

.copyright {
	margin-bottom: 1rem;
	.font__serif;
	font-size: 1.5rem;
	color: @colour__body_copy;
}
