///////////////////
// Media: Mobile //
///////////////////

@media only screen and (max-width: 767px) {

	body {
		padding-top: 184px;
	}

	// Grid
	.wrap {
		padding-left: @grid__pad_mobile;
		padding-right: @grid__pad_mobile;
	}

	// Masthead
	.masthead {
		padding-top: @grid__pad_mobile;
		padding-bottom: @grid__pad_mobile;
		height: 184px;
		text-align: center;

		&.js-scrolling {
			height: 64px;

			.logo__svg {
				margin: 0 auto;
				width: 200px;
			}
		}
	}

	// Navigation
	.nav {
		margin-top: 2rem;
		text-align: center;
	}

	.nav-bar {
		display: inline-block;
		line-height: 120%;
		font-size: 2.4rem;

		li {
			&:not(:last-child) {
				&:after {
					margin-left: 1rem;
					margin-right: 1rem;
				}
			}
		}
	}

	// Footer
	.footer {
		padding-top: @grid__pad_mobile;
		padding-bottom: @grid__pad_mobile;

		// Social icons
		.icon--facebook,
		.icon--instagram {
			font-size: 1.8rem;
		}
	}

	.copyright {
		margin-bottom: 2rem;
	}

	// Blog
	.blog {
		.wrap--grid {
			padding-top: @grid__pad_mobile;
			padding-bottom: @grid__pad_mobile;
		}
	}

	.blog__title {
		font-size: 2.0rem;
	}

	// Post
	.entry__thumbnail {
		margin-left: -( @grid__pad_mobile );
		margin-right: -( @grid__pad_mobile );
	}

	.entry__nav-link {
		+ .entry__nav-link {
			margin-top: 2rem;
		}
	}

	// Slider
	.slider__wrap {
		margin-left: -( @grid__pad_mobile );
		margin-right: -( @grid__pad_mobile );
	}

	.slider__ui {
		margin-top: -( @icon__mobile );
		padding: @icon__desktop / 2;
		width: @icon__mobile;
		height: @icon__mobile;
		line-height: @icon__mobile;
		font-size: @icon__mobile;
	}

	// About
	.about__cms {
		h2 {
			text-align: center;
		}
	}


	// CMS
	.entry__cms {
		&:not(:empty) {
			padding-top: @grid__pad_mobile;
			padding-bottom: @grid__pad_mobile;
		}
	}
}

///////////////////////////////
// Media: WP Admin Bar fixes //
///////////////////////////////

@media only screen and (max-width: 782px) {

	.admin-bar {
		.masthead {
			top: 46px;
		}
	}
}

@media only screen and (min-width: 783px) {

	.admin-bar {
		.masthead {
			top: 32px;
		}
	}
}

///////////////////
// Media: Tablet //
///////////////////

@media only screen and (min-width: 768px) {

	body {
		padding-top: 150px;
	}

	// Grid
	.wrap {
		padding-left: @grid__pad_desktop;
		padding-right: @grid__pad_desktop;
		max-width: @grid__max;
	}

	// Masthead
	.masthead {
		padding-top: @grid__pad_desktop;
		padding-bottom: @grid__pad_desktop;
		height: 150px;

		&.js-scrolling {
			padding-top: @grid__pad_mobile;
			padding-bottom: @grid__pad_mobile;
			height: 64px;

			.logo__svg {
				width: 200px;
			}
		}
	}

	.logo {
		display: block;
		float: left;
	}

	// Navigation
	.nav {
		float: right;
	}

	.nav-bar {
		font-size: 2.6rem;

		li {
			&:not(:last-child) {
				&:after {
					margin-left: 1.5rem;
					margin-right: 1.5rem;
				}
			}
		}
	}

	// Footer
	.footer {
		padding-top: @grid__pad_desktop;
		padding-bottom: @grid__pad_desktop;

		.wrap {
			.flex-display();
			.flex-direction(row);
			.align-items(flex-start);
		}

		// Social icons
		.icon--facebook,
		.icon--instagram {
			font-size: 1.6rem;
		}
	}

	// Blog
	.blog {
		.wrap--grid {
			padding-top: @grid__pad_desktop;
			padding-bottom: @grid__pad_desktop;
		}
	}

	.blog__title {
		font-size: 2.8rem;
	}

	// Post
	.entry__nav-link {
		max-width: 48%;
	}

	.entry__nav-link--next {
		float: left;
	}

	.entry__nav-link--prev {
		float: right;
		text-align: right;
	}

	// Slider
	.slider__ui {
		margin-top: -( @icon__desktop );
		padding: @icon__desktop / 2;
		width: @icon__desktop;
		height: @icon__desktop;
		line-height: @icon__desktop;
		font-size: @icon__desktop;
	}

	// CMS
	.entry__cms {
		&:not(:empty) {
			padding-top: @grid__pad_desktop;
			padding-bottom: @grid__pad_desktop;
		}
	}

	// Button: Redbubble
	.btn__redbubble-wrap {
		text-align: center;
	}
}