///////////////////
// Media: Mobile //
///////////////////

@media only screen and (max-width: 480px) {

	// Grid
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

	// Grid
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (max-width: 767px) {

	// Grid
	.wrap {
		padding-left: @grid__pad_mobile;
		padding-right: @grid__pad_mobile;
	}

	// Masthead
	.masthead {
		padding-top: @grid__pad_mobile;
		padding-bottom: @grid__pad_mobile;
		text-align: center;
	}

	.logo {
		display: inline-block;
		max-width: 100%;

		svg {
			max-width: 100%;
		}
	}

	// Navigation
	.nav {
		margin-top: 1rem;
		text-align: center;
	}

	.nav-bar {
		display: inline-block;
		line-height: 120%;
		font-size: 2.4rem;

		li {
			&:not(:last-child) {
				&:after {
					margin-left: 1rem;
					margin-right: 1rem;
				}
			}
		}
	}

	// Footer
	.footer {
		padding-top: @grid__pad_mobile;
		padding-bottom: @grid__pad_mobile;
	}

	// Blog
	.list {
		padding-top: @grid__pad_mobile;
		padding-bottom: @grid__pad_mobile;
	}

	.list__title {
		font-size: 2.0rem;
	}

	// Post
	.entry__thumbnail {
		margin-left: -( @grid__pad_mobile );
		margin-right: -( @grid__pad_mobile );
	}

	.entry__nav-link {
		+ .entry__nav-link {
			margin-top: 2rem;
		}
	}

	// Slider
	.slider__wrap {
		margin-left: -( @grid__pad_mobile );
		margin-right: -( @grid__pad_mobile );
	}

	.slider__ui {
		margin-top: -( @icon__mobile );
		padding: @icon__desktop / 2;
		width: @icon__mobile;
		height: @icon__mobile;
		line-height: @icon__mobile;
		font-size: @icon__mobile;
	}

	// CMS
	.entry__cms {
		&:not(:empty) {
			padding-top: @grid__pad_mobile;
			padding-bottom: @grid__pad_mobile;
		}
	}
}
