//////////
// Post //
//////////

.entry {

	// Post > Thumbnail
	&__thumbnail {
		text-align: center;

		// Post > Thumbnail > Media
		img {
			margin-left: auto;
			margin-right: auto;
			width: auto;
			max-height: 960px;
		}
	}

	// Post > Tags
	&__tags {
		margin-top: 2rem;
		font-size: 1.6rem;
		text-align: center;
		color: @colour__body_copy;
	
		// Icon
		.icon-archive {
			margin-right: .4rem;
			font-size: 1.6rem;
			color: #aaa;
		}
	
		// Links
		a {
			.font__oswald();
			font-size: 1.4rem;
			text-transform: uppercase;
			text-decoration: none;
			color: @colour__body_copy;
	
			.transition(all ease .12s);
	
			// Hover
			&:hover {
				color: @colour__link;
			}
		}

		&-wrap {
			display: inline-block;
			padding: 1rem;
			background-color: #fff;
			border-radius: .4rem;
		}
	}
}

// Post > Content
.cms {

	// Post > Content > iframe
	iframe {
		max-width: 100%;
	}
}

// Post > Image Embeds
.wp-caption {

	// Image
	img {
		display: block;
		width: 100%;
	}

	// Caption
	.wp-caption-text {
		padding: .3rem .6rem;
		background-color: #f8f8f8;
		font-size: 1.3rem;
	}
}

// Post > Image Embeds > Center
.aligncenter {
	margin: 1.5em auto;
}

// Post > Video Embeds
.video {
	position: relative;
	width: 100%;
	height: 0;
	
	> iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
}