//////////
// Shop //
//////////

.shop {
	padding-top: 3rem;
	padding-bottom: 3rem;
	min-height: 100vh;

	// Shop > Loading
	&.js-loading {
		background: url('../images/icons/loading.gif') center center no-repeat;
	}

	// Shop > Empty title
	&__empty-title {
		.font__oswald();
		font-size: 2.4rem;
		font-weight: 200;
		color: #aaa;
	}
}