////////////
// Slider //
////////////

.cycle-slideshow {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

// Slider
.slide {
	width: 100%;
	height: 100%;
	text-align: center;

	&r {
		position: relative;

		// Slider > UI
		&__ui {
			z-index: 1000;
			position: absolute;
			top: 50%;
			text-align: center;
			color: #aaa;
			.box-sizing(content-box);
			.transition(all ease .12s);
		
			&:hover {
				cursor: pointer;
				color: #000;
			}
		
			// Slider > UI > Previous
			&--prev {
				left: 0;
			}
		
			// Slider > UI > Next
			&--next {
				right: 0;
			}
		}
	}

	// Slider > Slide > Link
	&__link {
		display: block;
		height: 100%;

		// Slider > Slide > Link > Product Icon
		.product-icon {
			top: 2rem;
			right: -2rem;

			// Slider > Slide > Link > Product Icon > Wrap
			&__wrap {
				padding: 1rem;
				box-shadow: -3px 3px 2px 0 rgba(0,0,0,.15);
	
				&:after {
					content: '';
					position: absolute;
					bottom: -2rem;
					right: 0;
					width: 2rem;
					height: 2rem;
					background: url('../images/icons/icon_corner.svg') center center no-repeat;
					background-size: 100%;
				}
			}

			// Slider > Slide > Link > Product Icon > SVG
			&__svg {
				margin-right: 1rem;
			}
		}
	}

	// Slider > Slide > Image
	&__image {
		display: inline-block;
		width: auto;
		height: auto;
		max-height: 100%;
	}
}