////////////////
// Typography //
////////////////

// Oswald
.font__oswald() {
	font-family: 'Oswald', Arial, sans-serif;
}

// Open Sans
.font__sans() {
	font-family: 'Open Sans', Arial, sans-serif;
}

// Droid Serif
.font__serif() {
	font-family: 'Droid Serif', Georgia, sans-serif;
}

// Elegant Icons
@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-archive,
.icon-caret-left,
.icon-caret-right,
.icon-clock,
.icon-facebook {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-archive:before {
	content: '\e088';
}

.icon-caret-left:before {
	content: '\34';
}

.icon-caret-right:before {
	content: '\35';
}

.icon-clock:before {
	content: '\7d';
}

.icon-facebook:before {
	content: '\e0aa';
}

// Titles
.page-title {
	margin-bottom: 1rem;
	.font__oswald();
	font-weight: 400;
	font-size: 2.6rem;
	text-align: center;
	text-transform: uppercase;
}

// CMS
.entry__cms {
	margin: 0 auto;
	width: 100%;
	max-width: 620px;

	// Titles
	h1,
	h2,
	h3 {
		.font__oswald();
	}

	h1 {
		margin-bottom: 1em;
		font-size: 3.2rem;
		font-weight: 400;
	}

	h2 {
		margin-bottom: 1em;
		font-size: 2.8rem;
		font-weight: 400;
	}

	h3 {
		margin-bottom: 1em;
		font-size: 2.4rem;
		font-weight: 200;
	}

	h4,
	h5,
	h6 {
		margin-bottom: 1em;
		.font__serif();
		font-size: 1.6rem;
		font-weight: 200;
	}

	// Body copy
	p {
		.body-copy();

		&:not(:first-of-type) {
			margin-top: 1.5em;
		}

		&:not(:last-of-type) {
			margin-bottom: 1.5em;
		}

		// Link
		a {
			color: @colour__link;
		}
	}

	// Lists
	ul,
	ol {
		padding-left: 1.5em;
		.body-copy();

		li {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}

	// Description Lists
	dl {
		.body-copy();
	}

	// Tables
	table {
		margin-top: 1em;
		margin-bottom: 1em;
		border-collapse: collapse;
		.body-copy();
		font-size: 1.6rem;

		th,
		td {
			padding: 1rem;
			border: 1px solid #eee;
			text-align: left;
			vertical-align: top;
		}
		
		ul {
			margin: 0;
		}
	}
}

.entry__header {
	margin-bottom: 2rem;
	.font__oswald();
	text-align: center;
}

.entry__title {
	margin-bottom: .5em;
	font-size: 3.2rem;
	font-weight: 400;
}

.entry__date {
	display: inline-block;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee;
	font-size: 1.6rem;
	font-weight: 200;
	text-transform: uppercase;
	color: #aaa;

	.icon-clock {
		margin-right: .4rem;
	}
}
