///////////////
// Variables //
///////////////

// Grid
@grid__max: 1280px;
@grid__pad_mobile: 2rem;
@grid__pad_desktop: 3rem;

// Colours
@colour__html: #fafafa;
@colour__footer: #333;
@colour__bg_text: #000;
@colour__body_copy: #555;
@colour__link: #e63b3b;

// Icons
@icon__mobile: 4rem;
@icon__desktop: 4.8rem;
