///////////////
// Variables //
///////////////

// Variables > Grid
@grid_max: 1280px;
@grid_pad_mobile: 2rem;
@grid_pad_desktop: 3rem;

// Variables > Colours
@colour_html: #fafafa;
@colour_footer: #333;
@colour_body_copy: #555;
@colour_link: #e63b3b;

// Variables > Icons
@icon_mobile: 4rem;
@icon_desktop: 4.8rem;
