///////////
// About //
///////////

// About
.about {

	// About > Wrap
	.wrap {
		padding-top: 3rem;
		padding-bottom: 3rem;
		width: 100%;
		max-width: 600px;
	}

	// About > Title
	&__title {
		margin-bottom: 0;
		font-family: $font_oswald;
		font-weight: 500;
		font-size: 3.2rem;
		text-transform: uppercase;
	
		> span {
			position: relative;
			display: inline-block;
			padding: 1.6rem;
			background-color: $colour_link;
			font-weight: 400;
			letter-spacing: -.02rem;
			color: #fff;
	
			// About > Title > Down arrow
			&:before {
				content: '';
				position: absolute;
				bottom: -2rem;
				left: 2rem;
				display: block;
				border: 1rem solid transparent;
				border-top-color: $colour_link;
				width: 2rem;
				height: 2rem;
				box-sizing: border-box;
			}
		}
	}

	// About > CMS
	&__cms {
		p {
			color: #333;
		}
	}

	// About > Thumbnail
	&__thumbnail {
		margin-bottom: 2rem;
	}
}