//////////
// Base //
//////////

html {
	height: 100%;
	background-color: $colour_footer;
}

body {
	background-color: $colour_html;
	font-family: $font_helvetica;
}

// Wrap
.wrap {
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	transition: padding ease .2s;

	// Wrap > Grid
	&--grid {
		display: grid;
	}
}