//////////
// Blog //
//////////

@import 'core';

.single {
	.content {
		.wrap {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

.blog {

	// Blog > Title
	&__title {
		margin-bottom: 1.5rem;

		// Blog > Title > Text
		&-text {
			display: inline-block;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			border-bottom: 1px solid #eee;
			font-family: $font_oswald;
			font-weight: 400;
			color: inherit;
			transition: color ease .2s;
		}
	}

	// Blog > Link
	&__link {
		display: block;
		text-decoration: none;
		color: #000;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: $colour_link_safe;
		}
	}

	// Blog > Thumbnail
	&__thumbnail {
		display: flex;
		flex-direction: column;
		height: 100%;

		// Blog > Thumbnail > Media
		&-media {
			display: block;
			width: 100%;
		}
	}

	// Blog > Excerpt
	&__excerpt {
		flex: 1 1 auto;
		margin-bottom: 2rem;
		line-height: 125%;
		font-family: Georgia, sans-serif;
		font-size: 1.5rem;
	}

	// Blog > Date
	&__date {
		font-family: $font_serif;
		font-size: 1.4rem;
		font-weight: 200;
		color: #666;

		// Blog > Date > Wrapper
		&-wrap {
			display: inline-block;
			padding-top: .75rem;
			border-top: 1px solid #eee;
		}

		// Blog > Date > Icon
		.entry__date-icon {
			@include svg-icon;
			margin-right: .5rem;
			vertical-align: middle;

			+ span {
				vertical-align: middle;
			}
		}
	}
}

// <=767px
@media only screen and (max-width: 767px) {
	.blog {

		// Blog > Grid
		.wrap--grid {
			padding-top: $grid_pad_mobile;
			padding-bottom: $grid_pad_mobile;
		}

		// Blog > Title
		&__title {
			font-size: 2.0rem;
		}
	}
}

// >=768px
@media only screen and (min-width: 768px) {
	.blog {

		// Blog > Grid
		.wrap--grid {
			padding-top: $grid_pad_desktop;
			padding-bottom: $grid_pad_desktop;
		}

		// Blog > Title
		&__title {
			font-size: 2.8rem;
		}
	}
}

// Supports: Grid
@supports ((display: -ms-grid) or (display: grid)) {

	.blog {
		.wrap--grid {
			grid-gap: 3rem 3rem;
		}
	}

	// <=480px
	@media screen and (max-width: 480px) {
		.blog {
			.wrap--grid {
				grid-template-columns: 1fr;
			}
		}
	}

	// >=480px && <=767px
	@media screen and (min-width: 481px) and (max-width: 767px) {
		.blog {
			.wrap--grid {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	// >=768px && <=1024px
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		.blog {
			.wrap--grid {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	// <=1025px
	@media screen and (min-width: 1025px) {
		.blog {
			.wrap--grid {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}

// No Support: Grid
@supports not ((display: -ms-grid) or (display: grid)) {

	.blog {

		.wrap--grid {
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}

		&-post {
			margin-bottom: 3rem;
		}
	}

	// >=768px
	@media screen and (min-width: 768px) {
		.blog-post {
			float: left;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			width: 33.33%;

			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
}
