////////////
// Footer //
////////////

.footer {
	background-color: $colour_footer;
	color: #fff;

	// Footer > Logo
	.logo__svg {
		margin-bottom: 2rem;
		max-width: 200px;
		fill: #fff;
	}

	// Footer > Social icons
	.icon--facebook,
	.icon--instagram {
		margin-left: 10px;
		color: #fff;
	}
}

// Footer > Social
.social {
	margin-left: auto;
}

// Footer > Social icons
.icon--facebook,
.icon--instagram {
	text-decoration: none;
	
	// Helper text
	> span {
		display: none;
		font-family: $font_droid_serif;
	}
}

// Footer > Copyright
.copyright {
	display: inline-block;
	font-family: $font_droid_serif;
	font-size: 1.5rem;
	color: #aaa;
}

