////////////
// Footer //
////////////

.footer {
	background-color: $colour_footer;
	color: #fff;

	// Footer > Logo
	.logo__svg {
		margin-bottom: 2rem;
		max-width: 200px;
		fill: #fff;
	}

	// Footer > Social icons
	.social {
		margin-left: auto;
	}

	.social-icon {
		display: inline-block;

		&__text {
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			position: absolute;
			margin: -1px;
			padding: 0;
			width: 1px;
			height: 1px;
			overflow: hidden;
		}
	}

	.icon {

		&--facebook {
			background-image: url('../images/icons/icon_facebook.svg');
		}

		&--instagram {
			background-image: url('../images/icons/icon_instagram.svg');
		}

		&--facebook,
		&--instagram {
			display: inline-block;
			width: 48px;
			height: 48px;
			background-position: center center;
			background-size: 32px;
			background-repeat: no-repeat;
		}
	}
}

// Footer > Copyright
.copyright {
	display: inline-block;
	font-family: $font_droid_serif;
	font-size: 1.5rem;
	color: #aaa;
}

