////////////
// Footer //
////////////

@import 'core';

.footer {
	content-visibility: auto;
	background-color: $colour_footer;
	color: #fff;

	// Footer > Logo
	.logo__svg {
		margin-bottom: 2rem;
		max-width: 200px;
		fill: #fff;
	}

	// Footer > Social icons
	.social {
		margin-left: auto;
	}

	.social-icon {
		display: inline-block;

		&__text {
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			position: absolute;
			margin: -1px;
			padding: 0;
			width: 1px;
			height: 1px;
			overflow: hidden;
		}
	}

	.icon {
		padding: 8px;
		width: 32px;
		height: 32px;
		box-sizing: content-box;

		path {
			fill: #fff;
		}
	}
}

// Footer > Copyright
.copyright {
	display: inline-block;
	font-family: $font_serif;
	font-size: 1.5rem;
	color: #aaa;
}

// <=767px
@media only screen and (max-width: 767px) {

	// Footer
	.footer {
		padding-top: $grid_pad_mobile;
		padding-bottom: $grid_pad_mobile;
	}

	// Footer > Copyright
	.copyright {
		margin-bottom: 2rem;
	}
}

// >=768px
@media only screen and (min-width: 768px) {
	.footer {
		padding-top: $grid_pad_desktop;
		padding-bottom: $grid_pad_desktop;

		// Footer > Wrap
		.wrap {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
		}
	}
}
