//////////////
// Masthead //
//////////////

@import 'core';

// Masthead
.masthead {
	z-index: 1001;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	overflow: hidden;
	transition: all ease .2s;
	transform: translateZ(0);

	// Masthead > Scrolling state
	&.js-scrolling {
		.logo__2,
		.logo__3 {
			display: none;
		}
	}
}

// Logo
.logo {
	display: inline-block;
	width: 100%;
	max-width: 300px;

	// Logo > Media
	&__svg {
		display: block;
		width: 100%;
		fill: #000;
		transition: all ease .2s;
	}

	&:hover,
	&:focus {
		.logo__svg {
			fill: $colour_link;
		}
	}

	// Logo > Paths
	&__2 {
		opacity: .25; 
	}
	
	&__3 {
		opacity: .5;
	}
}

// <=767px
@media only screen and (max-width: 767px) {

	// Masthead
	.masthead {
		padding-top: $grid_pad_mobile;
		padding-bottom: $grid_pad_mobile;
		height: 184px;
		text-align: center;

		// Masthead > Scroll state
		&.js-scrolling {
			height: 64px;

			// Masthead > Scroll state > Logo
			.logo__svg {
				margin-left: auto;
				margin-right: auto;
				width: 200px;
			}
		}
	}

	// Navigation
	.nav {
		margin-top: 2rem;
		text-align: center;

		&-bar {
			display: inline-block;
			line-height: 120%;
			font-size: 2.4rem;
	
			li {
				&:not(:last-child) {
					&:after {
						margin-left: 1rem;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}

// <=782px
@media only screen and (max-width: 782px) {
	.admin-bar {
		.masthead {
			top: 46px;
		}
	}
}

// >=768px
@media only screen and (min-width: 768px) {

	// Masthead
	.masthead {
		padding-top: $grid_pad_desktop;
		padding-bottom: $grid_pad_desktop;
		height: 150px;

		// Masthead > Scroll state
		&.js-scrolling {
			padding-top: $grid_pad_mobile;
			padding-bottom: $grid_pad_mobile;
			height: 64px;

			// Masthead > Scroll state > Logo
			.logo__svg {
				width: 200px;
			}
		}
	}

	// Masthead > Logo
	.logo {
		display: block;
		float: left;
	}

	// Navigation
	.nav {
		float: right;

		&-bar {
			font-size: 2.6rem;

			li {
				&:not(:last-child) {
					&:after {
						margin-left: 1.5rem;
						margin-right: 1.5rem;
					}
				}
			}
		}
	}
}

// >=783px
@media only screen and (min-width: 783px) {
	.admin-bar {
		.masthead {
			top: 32px;
		}
	}
}
