////////////////
// Pagination //
////////////////

@import 'core';

.entry__nav {
	content-visibility: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid #eee;
	max-width: 620px;
	font-family: $font_serif;
	font-size: 1.5rem;

	// Navigation > Post Nav > Links
	&-link {
		display: block;
		line-height: 130%;
	
		a {
			text-decoration: none;
			color: #000;
			transition: color ease .12s;
	
			&:hover,
			&:focus {
				color: $colour_link_safe;
			}
		}
	}

	// Navigation > Post Nav > Labels
	&-label {
		display: block;
		margin-bottom: .4rem;
		font-family: $font_oswald;
		font-size: 1.3rem;
		text-transform: uppercase;
		color: #555;
	}
}

// <=767px
@media only screen and (max-width: 767px) {
	.entry__nav-link {
		+ .entry__nav-link {
			margin-top: 2rem;
		}
	}
}

// >=768px
@media only screen and (min-width: 768px) {
	.entry__nav-link {
		max-width: 48%;

		&--next {
			float: left;
		}

		&--prev {
			float: right;
			text-align: right;
		}
	}
}