////////////
// Slider //
////////////

.cycle-slideshow {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

// Slider
.slide {
	width: 100%;
	height: 100%;
	text-align: center;

	&r {
		position: relative;

		// Slider > UI
		&__ui {
			z-index: 1000;
			position: absolute;
			top: 50%;
			text-align: center;
			color: #aaa;
			box-sizing: content-box;
			transition: all ease .12s;
		
			&:hover {
				cursor: pointer;
				color: #000;
			}
		
			// Slider > UI > Previous
			&--prev {
				left: 0;
			}
		
			// Slider > UI > Next
			&--next {
				right: 0;
			}
		}
	}

	// Slider > Slide > Link
	&__link {
		display: block;
		height: 100%;
	}

	// Slider > Slide > Image
	&__image {
		display: inline-block;
		width: auto;
		height: auto;
		max-height: 100%;
	}
}