////////////////
// Typography //
////////////////

// Icons
[class*="icon-"] {
	display: inline-block;
	vertical-align: middle;

	&:before {
		display: inline-block;
	}
}

.icon {

	&-archive {
		&:before {
			content: url('../images/icons/icon_archive.svg');
		}
	}

	&-pencil {
		&:before {
			content: url('../images/icons/icon_pencil.svg');
		}
	}

	&-email {
		&:before {
			content: url('../images/icons/icon_email.svg');
		}
	}

	&-facebook {
		&:before {
			content: url('../images/icons/icon_facebook.svg');
		}
	}

	&-instagram {
		&:before {
			content: url('../images/icons/icon_instagram.svg');
		}
	}
}

// Titles
.page-title {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-family: $font_oswald;
	font-weight: 400;
	font-size: 2.6rem;
	text-align: center;
	text-transform: uppercase;
}

// Typography > Contact Me
.contact-me {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	a {
		flex: 1 1 auto;
		display: block;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		color: $colour_link;

		&:before {
			display: inline-block;
			margin-right: 1rem;
			margin-left: 1rem;
		}
	}

	.icon {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		vertical-align: top;

		path {
			fill: #000;
		}

		&__text {
			display: inline-block;
			line-height: 2rem;
			font-family: $font_oswald;
			font-size: 1.6rem;
			font-weight: 400;
			text-transform: uppercase;
			color: #333;
		}
	}
}
